*{
    box-sizing: border-box;
}
body {
    background: linear-gradient(70deg, rgb(243, 171,33), rgb(226, 197, 140));
}

.logo_1{
    width: 80px;
    position: relative;
    left: 200px;
    top: 50px;
}

.logo_2 {
    width: 45px;
    position: relative;
    left: 133px;
    top: 27px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 180px;
}
li {
    display: inline;
    margin-right: 130px;
}

li:last-child {
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 19px;
}

.p_1 {
    font-size: 35px;
}
.p_2 {
    font-size: 19px;
}

.basic {
    margin-top: 0px;
    text-align: center;
}

.basic_text {
    width: 500px;
    margin-left: 150px;
    position: relative;
}